<h2>Új hirdetés</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Név:</mat-label>
        <input matInput placeholder="Bab" [(ngModel)]="advertisement.title" name="d" [ngModelOptions]="{standalone: true}">
    </mat-form-field>


    <mat-form-field>
    <mat-label>Kategória</mat-label>
    <mat-select [(ngModel)]="advertisement.category"  name="c" [ngModelOptions]="{standalone: true}">
        @for (cat of categories; track cat) {
        <mat-option [value]="cat.value" >{{cat.viewValue}}</mat-option>
        }
    </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Leírás:</mat-label>
        <input matInput placeholder="Nagyon nagy" [(ngModel)]="advertisement.description"  name="b" [ngModelOptions]="{standalone: true}">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Ár:</mat-label>
        <input matInput placeholder="0" [(ngModel)]="advertisement.price"  name="a" [ngModelOptions]="{standalone: true}">
    </mat-form-field>


    


    <div class="example-button-row">
    <button mat-flat-button (click)="addNewAdd()">Feltöltés</button>
    </div>
</form>